<template>
    <v-footer padless color="primary" dark>
        <v-col class="text-center" cols="12">
            {{ new Date().getFullYear() }} —
            <a
                class="copyright text--white text-decoration-none"
                href="https://gitlab.com/foxy-dev/"
                name="Aleksey Dyachok"
                target="_blank"
            >
                Aleksey Dyachok
            </a>
        </v-col>
    </v-footer>
</template>

<style lang="scss">
    .copyright {
        color: #fff!important;
    }
</style>