<template>
    <v-dialog
        :value="value"
        scrollable
        @input="$emit('input')"
        :max-width="$vuetify.breakpoint.mobile ? '100%' : '75%'"
    >
        <package-item
            class="pt-6 pb-2"
            v-bind="item"
            :tags-limit="0"
        >
            <template #content>
                <v-card-text class="text-pre-wrap">
                    <v-row class="mb-3">
                        <div class="col-md-6 col-sm-12 mb-2">
                            <div>
                                <strong class="mr-2">Last Update:</strong> {{ item.modified }}
                            </div>
                            <div >
                                <strong class="mr-2">Created:</strong> {{ item.created }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-2">
                            <div class="mb-2" v-if="item.owner">
                                <strong class="mb-1 mr-2">Author:</strong>
                                <v-avatar class="mr-2" size="20px" rounded>
                                    <img v-if="item.owner.avatar" :alt="item.owner.name" :src="item.owner.avatar" />
                                    <v-icon v-else color="primary" v-text="item.owner.name"/>
                                </v-avatar>
                                <a
                                    :href="item.owner.link"
                                    :title="item.owner.name"
                                    v-text="item.owner.name"
                                    target="_blank"
                                />
                            </div>
                            <div class="mb-2" v-if="item.homepage">
                                <strong class="mr-2">Homepage:</strong>
                                <a
                                    class="d-inline-block"
                                    :href="item.homepage"
                                    target="_blank"
                                    v-text="item.homepage"
                                    :title="item.homepage"
                                />
                            </div>
                        </div>
                       <v-col cols="12">
                           <div class="text-pre-wrap" v-text="item.readme"/>
                       </v-col>
                    </v-row>
                </v-card-text>
            </template>
            <template #actions>
                <v-btn
                    class="mx-auto px-4"
                    v-text="'Close'"
                    color="primary"
                    @click="$emit('input', false)"
                />
            </template>
        </package-item>
    </v-dialog>
</template>

<script>
const packageItem = () =>  import('@/components/package-item');

export default {
    name: 'modal-dialog',

    components: {
        packageItem
    },

    props: {
        value: {
            type: Boolean,
            default: false,
        },

        item: {
            type: Object,
            required: true,
            default: () => {},
        },
    },

}
</script>