<template>
    <v-card :class="{ 'mb-3': tagsLimit }">
        <v-card-text v-if="popular || deprecated" class="pb-2 flex-shrink-0">
            <v-chip
                v-if="popular"
                color="success"
                label
                small
                class="mr-2"
            >
                <v-icon left v-text="'mdi-star'"/>
                Popular
            </v-chip>
            <v-chip
                v-if="deprecated"
                color="red"
                label
                small
                class="mr-2"
            >
                <v-icon left v-text="'mdi-close-circle'"/>
                Deprecated
            </v-chip>
        </v-card-text>
        <v-card-title class="text-h5 pt-0 font-weight-bold">
            {{ name }}
            <span v-if="version" class="text-h6 ml-2 font-weight-thin" color="grey" v-text="`(v.${version})`"/>
        </v-card-title>
        <v-card-subtitle :class="{ 'pt-2': !tagsLimit }" v-text="description"/>
        <div class="overflow-y-auto">
            <slot name="content"/>
            <v-card-text class="align-center" v-if="keywordsList.length">
                <v-chip
                    v-for="keyword in keywordsList"
                    :key="keyword"
                    color="primary"
                    label
                    small
                    :outlined="currentActive !== keyword"
                    class="mr-2 mb-2"
                    @click="$emit('select-tag', keyword)"
                >
                    <v-icon left v-text="'mdi-label'"/>
                    {{ keyword }}
                </v-chip>
                <v-chip
                    v-if="additionalKeywords"
                    label
                    small
                    outlined
                    disabled
                    class="mb-2"
                    v-text="`And ${additionalKeywords} others`"
                />
            </v-card-text>

        </div>
        <v-divider/>
        <v-card-actions>
            <slot name="actions"/>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: 'package-item',

    inheritAttrs: false,

    props: {
        name: {
            type: String,
            required: false,
            default: '',
        },

        description: {
            type: String,
            required: false,
            default: '',
        },

        version: {
            type: [String, Number],
            required: false,
            default: '',
        },

        owner: {
            type: Object,
            required: false,
            default: () => {
            },
        },

        keywords: {
            type: Array,
            required: false,
            default: () => [],
        },

        currentActive: {
            type: String,
            required: false,
            default: '',
        },

        popular: {
            type: Boolean,
            default: false,
            required: false,
        },

        deprecated: {
            type: Boolean,
            default: false,
            required: false,
        },

        tagsLimit: {
            type: Number,
            default: 5,
            required: false,
        },
    },

    computed: {
        additionalKeywords () {
            if (!this.tagsLimit || this.keywords.length <= this.tagsLimit) return 0;

            return this.keywords.length - this.tagsLimit;
        },

        keywordsList () {
            if (this.additionalKeywords) {
                return this.keywords.slice(0, this.tagsLimit);
            }

            return this.keywords;
        },
    },
}
</script>