<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <v-container>
                <v-row>
                <v-col class="col-3 d-flex align-center">
                    <div class="d-flex align-center">
                        <button class="text-h5 font-weight-bold" text v-text="'NPM'" @click="handleRestore" />
                    </div>
                </v-col>
                <v-col class="col-md-6 col-9">
                    <v-text-field
                        class="search-field"
                        label="Package name..."
                        prepend-inner-icon="mdi-magnify"
                        clearable
                        solo
                        dense
                        light
                        hide-details
                        v-model="query"
                    />
                </v-col>
            </v-row>
            </v-container>
        </v-app-bar>
        <v-main>
            <v-container class="search-result fill-height flex-column">
                <transition-group
                    tag="div"
                    class="col col-12 search-result__list flex-grow-1 flex-shrink-0"
                    name="animation-fade"
                    appear
                >
                    <package-item
                        v-for="(item, index) in packagesList"
                        v-bind="item"
                        :key="item.name + item.created + index"
                        :current-active="query"
                        @select-tag="handleSelect"
                    >
                        <template #actions>
                            <v-btn text v-text="'Show more'" @click="openModal(item)" />
                        </template>
                    </package-item>
                    <v-banner
                        v-if="!packagesList.length && !isLoading"
                        icon="mdi-alert"
                        :icon-color="isError ? 'red' : 'info'"
                        key="$empty-state"
                        v-text="isError ? 'Something going wrong!' : 'Nothing was find...'"
                    />
                </transition-group>
                <transition name="animation-fade" appear mode="out-in">
                    <div class="search-result__pagination text-center" v-show="packagesPagination.total > 1">
                        <v-pagination
                            v-model.number="page"
                            :value="packagesPagination.current"
                            :length="packagesPagination.total"
                            :total-visible="$vuetify.breakpoint.mobile ? 5 : 7"
                            prev-icon="mdi-menu-left"
                            next-icon="mdi-menu-right"
                        />
                    </div>
                </transition>
            </v-container>
        </v-main>
        <l-footer/>
        <modal-dialog v-model="dialog" :item="currentPackage" :query="query" />
    </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import lFooter from '@/components/l-footer';
import { debounce } from '@/utils/debounce';

const modalDialog = () => import('@/components/modal-dialog');
const packageItem = () =>  import('@/components/package-item');

export default {
    name: 'App',

    components: {
        modalDialog, packageItem, lFooter,
    },

    data: () => ({
        page: 1,
        query: '',
        dialog: false,
        currentPackage: {},
    }),

    watch: {
        page: 'handleSearch',

        query: {
            handler (val) {
                debounce(this.handleSearch(val), 1000);
            },
            immediate: true,
        },

        dialog: {
            handler (val) {
                if (!val) {
                    this.$nextTick(() => {
                        this.currentPackage = {};
                    });
                }
            },
        }
    },

    computed: {
        ...mapGetters('PACKAGES', ['packagesPagination', 'packagesList', 'isError', 'isLoading']),
    },

    methods: {
        ...mapActions('PACKAGES', ['getPackages']),

        handleSearch () {
            this.dialog = false;
            const {page, query} = this;
            this.$vuetify.goTo(0, { duration: 200, easing:'easeInOutCubic' });

            this.getPackages({page, query});
        },

        handleSelect (query) {
            this.query = query === this.query ? '' : query;
        },

        handleRestore () {
            if (!this.query) return;

            this.query = '';
        },

        openModal (item) {
            this.currentPackage = item;
            this.dialog = true;
        },
    },
};
</script>

<style lang="scss">
.animation-fade {
    &-enter-active,
    &-leave-active {
        transition: opacity .3s ease-in-out .2s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }
}
</style>